<link rel="stylesheet" type="text/css" href="/css/style.css" />

<header>
  <!-- <img
    class="logo"
    src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/111/crystal-ball_1f52e.png"
    alt="heart"
  /> -->
  <h1 class="heading">Hello <%= name %></h1>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="logOutButton">Log Out</button>
  </form>
</header>

<main>
  <section class="leading">
    <p class="leading-bigtext">Articles</p>
    <p class="leading-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae semper
      quam. Praesent lobortis tellus quis erat condimentum, a bibendum tortor
      volutpat.
    </p>
  </section>
  <section class="cards">
    <article class="article1">
      <img class="article-img" src="assets/car6.jpg" alt="Car1 " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article2">
      <img class="article-img" src="assets/car2.jpg" alt=" " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article3">
      <img class="article-img" src="assets/car3.jpg " alt="" />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article4">
      <img class="article-img" src="assets/car4.jpg" alt=" " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article5">
      <img class="article-img" src="assets/car5.jpg" alt=" " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article6">
      <img class="article-img" src="assets/car7.jpg" alt=" " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
    <article class="article6">
      <img class="article-img" src="assets/car1.jpg" alt=" " />
      <div class="brand">
        <p>NEWS</p>
      </div>
      <div class="article-title">
        <h1>
          Title of article
        </h1>
      </div>
    </article>
  </section>
</main>
